/* Please override here. */


ol ul, ul ol, ul ul {
    margin-bottom: 10px !important;
}

.tag-list-group-item {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: -1px -3px 0px -2px;
    border: 1px solid #ddd;
}



.tag-list-group {
    border-width: 1px 0;
    border-radius: 0;
    text-align: center;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


input[type="button"] {
	border:1px solid #f5f5f5;
	background-color:#f5f5f5;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#333 !important;
	font-size:14px;
	font-weight:lighter;
	padding:2px 5px;
	text-decoration:none;
}